@import url('https://fonts.googleapis.com/css?family=Manrope:500');
@import url('https://fonts.googleapis.com/css?family=Inter:500');

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  height: 60px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar__list {
  display: flex;
  list-style: none;
}

.navbar__item {
  margin-right: 20px;
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar__item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}