@import url("https://fonts.googleapis.com/css?family=Manrope:500");
@import url("https://fonts.googleapis.com/css?family=Inter:500");
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: block;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 6rem;
  min-height: 100vh;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.description p,
.description div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(0, 1, 0);
  border: 1px solid rgba(0, 0, 0);
  border-radius: var(--border-radius);
}
.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}
.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(0, 0, 0);
  border: 1px solid rgba(0, 0, 0);
  transition: background 200ms, border 200ms;
}
.card span {
  display: inline-block;
  transition: transform 200ms;
}
.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}
.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}
.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
.navbar {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;
}
.menubar {
  border-radius: 25px;
  height: fit-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  margin: 0px 0 0 0;
}
.menubar a,
.menubar img {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menubar a::before,
.menubar img::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menubar a:hover,
.menubar img:hover {
  color: black;
}
.menubar a:hover::before,
.menubar img:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
.button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Inter, Manrope, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(0, 0, 0);
    border: 1px solid rgba(0, 0, 0);
  }
  .card:hover span {
    transform: translateX(4px);
  }
}
@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }
  .card:hover span {
    transform: none;
  }
}
/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .card {
    padding: 1rem 2.5rem;
  }
  .card h2 {
    margin-bottom: 0.5rem;
  }
  .center {
    padding: 8rem 0 6rem;
  }
  .center::before {
    transform: none;
    height: 300px;
  }
  .description {
    font-size: 0.8rem;
  }
  .description a {
    padding: 1rem;
  }
  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }
  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 1, 0), rgba(0, 1, 0));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }
  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, #000 40%);
    z-index: 1;
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
