<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <p id='user'>
        <Image src="<%= avatar %>" width="50" height="50" /> <b><%= username %>#<%= discriminator %></b>
    </p>
  </body>
</html>